.container {
  display: flex;
  border: 2px solid blue;
  width: 50%;
  margin-top: 50px;
  margin-left: 100px;
}

img {
  width: 150px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
